name: Generate Snake Animation

on:
  workflow_dispatch:
  schedule:
    - cron: "0 0 * * *"

permissions:
  contents: write

jobs:
  generate:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4

      - name: Generate snake GIF (light & dark)
        uses: Platane/snk@v3
        with:
          github_user_name: binggierashel
          outputs: |
            dist/github-snake-dark.gif?color_snake=#00ff99&color_dots=#161b22,#0e4429,#006d32,#26a641,#39d353

      - name: Push snake to output branch
        uses: crazy-max/ghaction-github-pages@v4
        with:
          target_branch: output
          build_dir: dist
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
